  .received-requests {
    flex: 1;
    max-width: 60%; /* Adjust the width of the received requests div */
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin-right: auto; /* Center the div */
    margin-left: auto; /* Center the div */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #007bff;
    color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .accept-button {
    padding: 8px 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .reject-button {
    padding: 8px 16px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  